body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffaf0; /* Warme, gezellige achtergrond */
    color: #333;
}

header {
    background-color: #008c45; /* Italiaans groen! */
    color: white;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #cd212a; /* Italiaans rood! */
    color: white;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.btn {
    background-color: #ffcc00; /* Goudgele pizza-knop */
    color: #333;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}